<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GCD倒计时.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>21FDB0631CA5395400A9C152</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21FDB07F1CA5395400A9C152</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21FDB08A1CA5395400A9C152</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
